@use '../../styles/variables.scss' as *;

.button {
    padding: 0.75rem;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.icon {
    display: flex;    
}

.primary {
    background-color: $secondary-medium;
    color: $neutrals-lightest;
    font-size: 0.75rem;

    &:hover {
        background-color: $secondary-dark;
    }
}

.secondary {
    background-color: transparent;
    color: $secondary-medium;
    border: 1px solid $secondary-medium;

    &:hover {
        border-color: $secondary-dark;
        color: $secondary-dark;
    }
}

