@use './variables' as *;
@use './reset';

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $neutrals-lightest;
}

.h1 {
    font-size: 3.5rem;
    line-height: 130%;
    font-weight: 700;
}

.h2 {
    font-size: 2.25rem;
    line-height: 130%;
    font-weight: 700;
}

.h3 {
    font-size: 1.25rem;
    line-height: 130%;
    font-weight: 700;
}

.largeRegular {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
}

.largeSemibold {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 600;
}

.small {
    font-size: 0.875rem;
    line-height: 150%;
    font-weight: 400;
}

.caption {
    font-size: 0.75rem;
    line-height: 130%;
    font-weight: 400;
    color: $neutrals-dark;
}