$neutrals-lightest: #F0F0F2;
$neutrals-extra-light: #E0E2E6;
$neutrals-light: #C0C2C8;
$neutrals-medium: #9EA0A5;
$neutrals-dark: #7F8185;
$neutrals-extra-dark: #5E5F63;
$neutrals-darkest: #202122;

$primary-light: #0B0E3A;
$primary-medium: #060725;
$primary-dark: #020318;

$secondary-light: #EF4C84;
$secondary-medium: #D31450;
$secondary-dark: #8C1038;

$accent-light: #00BFC1;
$accent-medium: #009598;
$accent-dark: #006C6E;





