@use '../../styles/variables.scss' as *;

.header {
    padding: 1rem;
    border: 1px solid $neutrals-extra-light;
    height: 4.625rem;

    &Logo {
        width: 8rem;
        height: 2rem;
    }
    
    &LogoHidden {
        display: none;
    }

    &Content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
